if status is-interactive
    #
end

{{ if eq .chezmoi.os "darwin" }}

eval (/opt/homebrew/bin/brew shellenv)

{{ else if eq .chezmoi.os "linux" }}

fish_add_path /home/linuxbrew/.linuxbrew/bin
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)

{{ end }}

source (brew --prefix asdf)/libexec/asdf.fish
export EDITOR="code -w"
starship init fish | source

echo "test!"
