#!/bin/sh
set -x #echo on

# Installer dependencies
# {{ include "Brewfile.tmpl" | sha256sum }}
# {{ include "dot_packages/asdf_plugins.txt.tmpl" | sha256sum }}

# Install homebrew
if test ! $(command -v brew); then
  echo "Installing homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install homebrew packages
brew bundle
brew bundle cleanup

# Set fish as default shell
FISH_PATH="$(command -v fish)"
if ! grep -Fxq "$FISH_PATH" /etc/shells; then
  sudo echo "$FISH_PATH" >> /etc/shells
  sudo chsh -s "$FISH_PATH" "$USER"
fi

# Install asdf plugins
cat ~/.packages/asdf_plugins.txt | while read plugin; do
  asdf plugin add $plugin
done

exit 0
