tap "homebrew/bundle"
tap "homebrew/core"
tap "cloudflare/cloudflare"

# Linux & macOS

brew "asdf"
brew "chezmoi"
brew "clang-format"
brew "cloudflare/cloudflare/cloudflared"
brew "cmake"
brew "exa"
brew "fish"
brew "gh"
brew "ghq"
brew "starship"
brew "yarn"

{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"

# Only macOS

brew "mas"
brew "wget"
cask "1password"
cask "affinity-designer"
cask "affinity-photo"
cask "discord"
cask "google-chrome"
cask "google-drive"
cask "google-japanese-ime"
cask "microsoft-office"
cask "notion"
cask "visual-studio-code"
cask "warp"

mas "Actions", id: 1586435171
mas "Controller", id: 1198176727
mas "Magnet", id: 441258766
mas "Microsoft Remote Desktop", id: 1295203466
mas "NextDNS", id: 1464122853
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142

# macOS Default Apps
mas "iMovie", id: 408981434

{{ else if eq .chezmoi.os "linux" }}

# Only Linux

brew "readline"
brew "gettext"
brew "gnutls"
brew "cups"
brew "gcc"
brew "util-linux"
brew "glib"
brew "fontconfig"
brew "swagger-codegen"

{{ end }}
